<%- include ("./layout/head") %>
<body>
    <div class="container-fruid">
        <a href="/">
          <img style="  max-width: 100%; height: auto;" class="w-100" src="../images/404.png" alt="404 not found">
        </a>
    </div>
</body>
</html>