<div class="container-fluid bg-secondary my-5">
    <div class="row justify-content-md-center py-5 px-xl-5">
        <div class="text-center mb-2 pb-2">
            <h2 class="section-title px-5 mb-3"><span class="bg-secondary px-2">Yeni Ürünlerden Haberdar Olun</span>
            </h2>
            <p>Sosyal Medya Kanallarından da Bizi Takip Edebilirsiniz</p>
        </div>
        <div id="instagram_embed">

            <div class="owl-carousel owl-theme">
                <% insta_post_data.forEach((v)=> {%>
            
                        <div data-id="<%= v._id _%>" class="card">
                            <img class="card-img W-25" alt="<%= v.caption _%>"
                                src="<%= v.media_url _%>">
                            <div class="card-img-overlay">
                                <i class="card-title fa-brands fa-instagram fa-2x"></i>
                            </div>
                        </div>
        

                    <% }); %>
            </div>


        </div>


    </div>
    <!-- <form action="">
                    <div class="input-group">
                        <input type="text" class="form-control border-white p-4" placeholder="Email Goes Here">
                        <div class="input-group-append">
                            <button class="btn btn-primary px-4">Subscribe</button>
                        </div>
                    </div>
                </form> -->

</div>
</div>